In [26]:
# Dependencies
import json
import requests
import pandas as pd
from api_keys import weather2_api_key

In [28]:
weather2_api_key

'176a37e06bf2978a132ca5d48be4c255'

In [29]:
url = "http://api.openweathermap.org/data/2.5/weather?"

units = "metrics"
# Build query URL
query_url = f"{url}units={units}&APPID={weather2_api_key}&q="

In [30]:
url

'http://api.openweathermap.org/data/2.5/weather?'

In [31]:
response=(requests.get(query_url+"Paris").json())

In [32]:
query_url

'http://api.openweathermap.org/data/2.5/weather?units=metrics&APPID=176a37e06bf2978a132ca5d48be4c255&q='

In [33]:
response

{'coord': {'lon': 2.35, 'lat': 48.85},
 'weather': [{'id': 803,
   'main': 'Clouds',
   'description': 'broken clouds',
   'icon': '04n'}],
 'base': 'stations',
 'main': {'temp': 276.39,
  'feels_like': 271.9,
  'temp_min': 275.93,
  'temp_max': 277.04,
  'pressure': 1013,
  'humidity': 80},
 'visibility': 10000,
 'wind': {'speed': 3.6, 'deg': 20},
 'clouds': {'all': 75},
 'dt': 1609693501,
 'sys': {'type': 1,
  'id': 6548,
  'country': 'FR',
  'sunrise': 1609659827,
  'sunset': 1609689968},
 'timezone': 3600,
 'id': 2988507,
 'name': 'Paris',
 'cod': 200}

In [43]:
cities = ["paris","taipei","bangalore"]

city_data=[]
# set up lists to hold reponse info
lat = []
temp = []
# Loop through the list of cities and perform a request for data on each
for city in cities:
    response = requests.get(query_url + city).json()
    max_temp = response['main']['temp_max']
    humidity=response['main']['humidity']
    city_data.append({
        "city_name":response['name'],
        "max_temp":max_temp,
        "humidity":humidity
    }
    )
    
print(f"The latitude information received is: {lat}")
print(f"The temperature information received is: {temp}")

The latitude information received is: []
The temperature information received is: []

In [44]:
city_data

[{'city_name': 'Paris', 'max_temp': 277.04, 'humidity': 80},
 {'city_name': 'Taipei', 'max_temp': 291.15, 'humidity': 93},
 {'city_name': 'Bengaluru', 'max_temp': 295.93, 'humidity': 94}]

In [46]:
df=pd.DataFrame(city_data)

In [47]:
df

   city_name  max_temp  humidity
0      Paris    277.04        80
1     Taipei    291.15        93
2  Bengaluru    295.93        94